@inherits BaseDialog

@inject SliderContentService SliderContentService

<AuthorizeArea Policy="@Policies.SliderContent">
    <Loading IsLoading="IsLoading">
        <EditForm Model="newSliderContent" OnValidSubmit="SaveAsync">
            <DataAnnotationsValidator />

            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <RadzenLabel Text="Slider Türü:" />
                        </div>
                        <div class="col-md-9">
                            <RadzenDropDown Data="sliderTypes"
                                            Placeholder="Seçiniz"
                                            TValue="int"
                                            @bind-Value="newSliderContent.SliderTypeId"
                                            TextProperty="Description"
                                            ValueProperty="Id"
                                            class="w-100" />
                            <ValidationMessage For="() => newSliderContent.SliderTypeId" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-3">
                            <RadzenLabel Text="Başlık:" />
                        </div>
                        <div class="col-md-9">
                            <RadzenTextBox class="w-100" @bind-Value="newSliderContent.Header" />
                            <ValidationMessage For="() => newSliderContent.Header" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-3">
                            <RadzenLabel Text="Link:" />
                        </div>
                        <div class="col-md-9">
                            <RadzenTextBox class="w-100" @bind-Value="newSliderContent.To" />
                            <ValidationMessage For="() => newSliderContent.To" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-3">
                            <RadzenLabel Text="Öncelik Sırası:" />
                        </div>
                        <div class="col-md-9">
                            <RadzenNumeric Min="0" class="w-100" @bind-Value="newSliderContent.Priority" />
                            <ValidationMessage For="() => newSliderContent.Priority" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-3">
                            <RadzenLabel Text="Aktif mi ?" />
                        </div>
                        <div class="col-md-9">
                            <RadzenCheckBox @bind-Value="newSliderContent.IsActive" />
                            <ValidationMessage For="() => newSliderContent.IsActive" />
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <RadzenCard Variant="@Variant.Filled" Style="overflow: hidden; position: relative; height: 22rem;">
                        <RadzenButton Text="Resim Seç" Click="@OpenFileDialogAsync" Style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);" />

                        @if (newSliderContent.CoverImage != null)
                        {
                            <div class="rz-mx-auto mb-2" style="height: 17rem; display: flex; align-items: center; justify-content: center;">
                                <img src="@newSliderContent.CoverImage.Url"
                                     alt="community"
                                     style="max-height: 100%; max-width: 100%; object-fit: contain;" />
                            </div>
                        }
                    </RadzenCard>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Kaydet" Style="margin-bottom: 10px; width: 150px" Visible="@(IsLoading == false)" />
                    <RadzenButton Click="@((args) => DialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="İptal" Style="margin-bottom: 10px; width: 150px" />
                </div>
            </div>

        </EditForm>
    </Loading>
</AuthorizeArea>


@code {
    CreateSliderContentModel newSliderContent = new CreateSliderContentModel();
    List<LookupModel>? sliderTypes;


    protected async override Task OnInitializedAsync()
    {
        IsLoading = true;

        var result = await LookupService.GetSliderTypesAsync();
        if (!result.Success)
        {
            NotificationService.Error(result.Message);
            return;
        }
        sliderTypes = result.Data?.Items;

        IsLoading = false;
    }

    private async Task OpenFileDialogAsync()
    {
        var result = await DialogService.OpenAsync<FileDialog>("Resim Seç",
                new Dictionary<string, object> { { "Tags", "slider-item-image,side-slider-item-image" } },
                new DialogOptions { Width = "1000px" });

        if (result != null)
            newSliderContent.CoverImage = Mapper.Map<PostMediaModel>(result);
    }

    async Task SaveAsync()
    {
        IsLoading = true;

        var result = await SliderContentService.CreateAsync(newSliderContent);

        if (!result.Success)
            NotificationService.Error(result.Message);
        else
        {
            NotificationService.Success(result.Message);
            DialogService.Close(DialogResult.Refresh);
        }

        IsLoading = false;
    }
}
